.piz{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.image{
    text-align: center;

}
.image:hover {
    transform: scale(0.75); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

a:hover {
    color: hotpink;
    
  }